{% extends 'layout.html.twig' %}

{% block title 'Information' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2>« S’organiser et permettre aux entreprises de relancer leurs activités grâce à nos visières » </h2>
                <br />
                <h2>Le virus ne circule pas tout seul, c’est l’homme, porteur du virus, qui circule.</h2>
            </div>
        </div>

        <br />

        <div class="row justify-content-center">
            <div class="col-md-6 d-inline-flex">
                <img class="bandeau" src="{{ asset('images/information/GestesBarrieres.png') }}" alt="GestesBarrieres">
            </div>
            <div class="col-xl-4 top-text">
                <p class="text-justify"> Face aux infections respiratoires, des gestes simples permettent de préserver votre santé et celle de votre entourage en limitant la transmission du virus : </p>
                <ul>
                    <li>Lavez-vous les mains très régulièrement (avec de l'eau et du savon, ou du gel hydro-alcoolique)</li>
                    <li>Toussez ou éternuez dans votre coude ou dans un mouchoir</li>
                    <li>Restez toujours à plus d’un mètre les uns des autres</li>
                    <li>Utilisez un mouchoir à usage unique et jetez-le</li>
                    <li>Saluez sans vous serrer la main, arrêtez les embrassades</li>
                    <li>Évitez de vous toucher le visage en particulier le nez et la bouche</li>
                    <li>Portez un masque quand la distance d’un mètre ne peut pas être respectée</li>
                </ul>
            </div>
        </div>
    </div>

    <br />

    <div class="container text-justify">
        <div class="row justify-content-center">
            <h4>Comment se laver les mains ?</h4>
            <p>Bien se laver les mains (avec du savon et de l'eau) minimise le risque d'être contaminé après avoir touché une surface qui a été
                préalablement contaminée par une personne malade, puis de se toucher le visage, la bouche ou les yeux", explique le Dr Pierre Parneix, médecin hygiéniste.
                <br/>
                <strong>Le lavage des mains doit se faire plusieurs fois par jour à l'eau et au savon pendant 30 secondes puis il faut les sécher avec une serviette propre ou à l'air libre.
                    Il faut se laver les mains après toute manipulation d'un masque</strong>(tout type de masque), avant de préparer les repas, de les servir et de manger et avant de sortir de chez soi, après s'être mouché, avoir toussé ou éternué, avoir rendu visite à une personne malade,
                chaque sortie à l'extérieur, avoir pris les transports en commun (ou partagés), être allé aux toilettes, avoir touché aux parties communes d'un immeuble.
            </p>
            <a href="{{ asset('images/information/LaverLesMains.png') }}" class="btn btn-warning">Se renseigner</a>
        </div>
        <br /><br />
        <div class="row justify-content-center">
            <h4>Comment bien porter son masque ?</h4>
            <p>Il est établi que des personnes en période d'incubation ou en état de portage asymptomatique excrètent
                le virus et entretiennent la transmission de l'infection. En France, dans ce contexte, le port généralisé d'un masque
                par la population constitue une addition logique aux mesures barrières actuellement en vigueur" estime l'Académie nationale
                de médecine dans un communiqué du 2 avril 2020. Ce que confirme le Premier ministre lors de son discours du 28 avril où il invite
                les particuliers à se fabriquer des masques répondant aux normes Afnor et les entreprises à en délivrer aux salariés. Les masques
                sont par ailleurs obligatoires dans les transports en commun, pour les enseignants, personnels de la petite enfance et chez les collégiens.
                Un commerçant peut aussi imposer le port du masque dans son commerce. Les maires s'organisent pour en faire produire, surtout des masques en tissus et lavables.
            </p>
            <a href="{{ asset('images/information/PorterUnMasque.png') }}" class="btn btn-warning">Se renseigner</a>
        </div>
        <br /><br />
        <div class="row justify-content-center">
            <h4>Comment entretenir son masque ?</h4>
            <p class="lavermasque">Il convient d’éviter tout contact entre un masque barrière à laver et des articles vestimentaires propres.
                Un lavage en machine avec une lessive adaptée ( sans adoucissant) à 60° pendant 30 mn est conseillé.
                Le séchage complet du masque barrière doit être réalisé dans un délai inférieur à deux heures après la sortie de lavage.
            </p>
            <a href="{{ asset('images/information/LaverSonMasque.png') }}" class="btn btn-warning">Se renseigner</a>
        </div>
        <br /><br />
        <div class="row justify-content-center">
            <h4>Comment jeter son masque, son mouchoir, sa lingette ou ses gants ?</h4>
            <p class="jetermasque">Avec le déconfinement, le nombre de masques jetés par terre n'a cessé de croître. Polluants et dangereux pour la santé de tous,
                ils doivent naturellement être jetés à la poubelle.
                <br />
                Que ce soit pour prendre les transports en commun ou se rendre dans certains magasins, le masque est dorénavant de rigueur.
                Les masques sont considérés comme des déchets à risque, il convient donc de prendre quelques précautions.
                Comme leur nom l’indique, les masques à usage unique (chirurgicaux ou FFP2) sont à jeter immédiatement après utilisation.
                Pas question de les laisser sécher à l’air libre, ou encore de les enlever puis de les remettre après avoir mangé ou fait une course.
                Les masques, tout comme les lingettes désinfectantes ou les gants, doivent être jetés dans un sac poubelle dédié, "résistant et disposant d’un système
                de fermeture fonctionnel", précise le gouvernement. De même, si vous êtes amené à changer de masques plusieurs fois avant de rentrer chez vous, ne les
                conservez pas en vrac dans votre sac. Placez-les dans une pochette hermétique jusqu’au prochain lavage, s’il s’agit de masques en tissu, ou dans la prochaine poubelle.
                Pour rappel, les masques en tissu peuvent être utilisés plusieurs fois, mais doivent être jetés dès qu’ils présentent un signe d’usure, même minime.
            </p>
            <a href="{{ asset('images/information/JeterSonMasque.png') }}" class="btn btn-warning">Se renseigner</a>
        </div>
        <br /><br />
        <hr>
        <br /><br />


    </div>
{% endblock %}