{% extends  'layout.html.twig' %}

{% block title 'Mon Profil' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <br/>
                <h1 class="text-center">Mon Profil</h1>

                <hr>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

        {{ form_start(form) }}
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <img class="profil" src="{{ asset('images/authentification/profil.png') }}" alt="Profil">
            </div>
            <div class="col-md-6">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col-md-10">
                {{ form_row(form.password) }}
                {{ form_row(form.address) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.status) }}
            </div>
        </div>

        <div class="text-center">
            <br />
            <button type="submit" class="btn btn-warning">Enregistrer</button>
            {{ form_end(form) }}
            <br />
            <br />
            <form action="{{ path('delete') }}" method="POST" onsubmit="return confirm('Veuillez confirmer votre choix')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        </div>
    </div>
{% endblock %}
