{% extends 'layout.html.twig' %}

{% block title 'Boutique' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="text-center">« S’organiser et permettre aux entreprises de relancer leurs activités grâce à nos visières » </h2>
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col-md-6 d-inline-flex">
                <img class="img-fluid" src="images/boutique/bandeauBoutique.png" alt="BandeauBoutique">
            </div>
            <div class="col-xl-4 top-text" style="padding-top: 100px">
                <h4>Boutique en ligne</h4>
                <br />
                <p class="text-justify">Ici vous pouvez retrouver la boutique en ligne. Vous y trouverez des masques, des visières ainsi
                que des gels hydroalcoolique.</p>
                <a href="{{ path('boutique.new') }}" class="btn btn-warning">Ajouter un produit</a>
            </div>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <br />

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h4>Les articles disponibles</h4>
                <hr><br />
            </div>
        </div>
        <br/>
        <div class="row">
            {% for article in articles %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ article.name }} : {{ article.price }} €
                            </h5>
                            <div class="card-text text-center">
                                <p>{{ article.description }} <br></p>
                                <img src="/images/boutique/produit/{{ article.image }}" alt="Image du produit"><br/><br/>
                                <a href="{{ path('boutique.show', {id: article.id, slug: article.slug }) }}" class="btn btn-primary stretched-link">Aller voir l'article</a>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}