{% extends  'layout.html.twig' %}

{% block title 'Paiement' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/payment.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <br/>
                <h1 class="text-center">Entrer les informations de votre carte bancaire</h1>
                <hr>
                <br />

                {{ form_start(form) }}
                    {{ form_row(form.user) }}
                    <div id="example4-card" class="StripeElement StripeElement--empty">
                        <div class="__PrivateStripeElement" style="margin: 0; padding: 0; border: none; display: block; background: transparent; position: relative; opacity: 1;">
                            <iframe allowtransparency="true" name="__privateStripeFrame18" title="Secure payment input frame" style="border: none; margin: 0; padding: 0; width: 1px; min-width: 100%; overflow: hidden; display: block; user-select: none; height: 19.2px;"></iframe>
                            <input class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" " autocomplete="false" maxlength="1" style="border: none; display: block; position: absolute; height: 1px; top: 0; left: 0; padding: 0; margin: 0; width: 100%; opacity: 0; background: transparent; pointer-events: none; font-size: 16px;">
                        </div>
                    </div>
                <br />
                    <div class="text-center">
                        <button class="btn btn-warning" type="submit" data-tid="elements_examples.form.donate_button" style="width: 60%;">Valider vos informations</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/payment.js') }}"></script>
{% endblock %}