{{ form_start(form) }}
<div class="row">
    <div class="col-md">{{ form_row(form.user) }}</div>
</div>

<div class="row">
    <div class="col-md">{{ form_row(form.name) }}</div>
</div>

<div class="row">
    <div class="col-md">{{ form_row(form.type) }}</div>
</div>

<div class="row">
    <div class="col-md">{{ form_row(form.description) }}</div>
</div>

<br />

<div class="text-center mb-4">
    <button class="col-2 btn btn-warning">{{ button|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}