{% extends 'layout.html.twig' %}

{% block title 'Forum' %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">

    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="text-center">« S’organiser et permettre aux entreprises de relancer leurs activités grâce à nos visières » </h2>
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col-md-6 d-inline-flex">
                <img class="bandeau" src="{{ asset('images/forum/bandeauForum.jpg') }}" alt="BandeauForum">
            </div>
            <div class="col-xl-4 top-text text-center">
                <h4>Forum de discussion</h4>
                <br />
                <p class="text-justify">Ce forum est à disposition des utilisateurs connectés afin de poser des questions ou de répondre
                    à d’autres afin de promouvoir la communication et l’échange. Il sera modéré par des volontaires
                    du personnel hospitalier, soit des personnes avec de l’expérience dans le domaine qui seront heureux de vous aider. </p>
                <a href="{{ path('forum.new') }}" class="btn btn-warning">Ajouter un sujet de discussion</a>
            </div>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <br />

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h4>Les sujets disponibles</h4>
                <hr><br />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                {{ form_start(form) }}
                    {{ form_row(form.searchType) }}
                    <button class="btn btn-warning text-center">Rechercher</button>
                {{ form_end(form) }}
            </div>
        </div>
        <br/>
        <div class="row justify-content-center">
            {% if subjects is empty %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-justify text-center">
                                Il n'y a pas sujet de discussion disponible !
                            </p>
                        </div>
                    </div>
                    <br />
                </div>
            {% endif %}
            {% for subject in subjects %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-warning" href="{{ path('forum.show', {id: subject.id, slug: subject.slug }) }}">{{ subject.type.name }}: {{ subject.name }}</a>

                            </h5>
                            <p class="card-text text-justify">{{ subject.description|length > 255 ? subject.description|slice(0, 255) ~ ' …' : subject.description }}
                                <br>
                            <p class="card-text text-right" {% if subject.user.status.name == 'Administrateur' %} style="color: #ff0000; font-weight: bold" {% elseif subject.user.status.name == 'Modérateur' %} style="color: #00ff00; font-weight: bold" {% endif %}>{{ subject.user.firstName }} {{ subject.user.lastName }}: Le {{ subject.createdAt }}</p>
                        </div>
                    </div>
                    <br />
                </div>
            {% endfor %}
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="pagination">
                {{ knp_pagination_render(subjects) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}